*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-text: #ab847F;
    --light-text: #e2b2a2;
    --gradient: linear-gradient(to bottom, #9973aa, #ba708b);
    --bg: #2c1442;
}

body{
    font-family:'Times New Roman', Times, serif;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

header img {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
}

#bridge{
    z-index: 6;
}

#train{
    z-index: 5;
}

#mount1{
    z-index: 4;
}

#mount2{
    z-index: 3;
}

#sky{
    z-index: 2;
}

main{
    background: var(--bg);
    padding-top: 80px; 
    padding-bottom: 80px;
}

main section{
    width: 80%;
    margin: auto;
}

main section h2{
    color: var(--light-text);
    font-size:7rem;
    text-align: center;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
    background: var(--gradient);
    background-clip: text;
    color: transparent;
}

main section h1{
    color: var(--light-text);
    font-size:3.5rem;
    text-align: center;
}

main section .text-container{
    padding-top: 80px;
    display: flex;
    gap: 20%;
    justify-content: center;
    color: var(--dark-text);
    font-size: 1.8rem;
    font-weight: 500;
}

main section .text-container div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}